backend/flow_node red.txt
[{"id":"98c0c693.8ee148","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"ac11285f.9fbd58","type":"debug","z":"98c0c693.8ee148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":280,"wires":[]},{"id":"4b343187.26f6a","type":"mqtt in","z":"98c0c693.8ee148","name":"","topic":"foo/bar","qos":"2","datatype":"auto","broker":"b4f8c089.5701f","x":110,"y":200,"wires":[["9a46bc6c.0e8d6"]]},{"id":"2469eaa1.e5c166","type":"mqtt out","z":"98c0c693.8ee148","name":"","topic":"plant_name","qos":"1","retain":"","broker":"b4f8c089.5701f","x":1070,"y":200,"wires":[]},{"id":"d440d7a6.7234e8","type":"mqtt in","z":"98c0c693.8ee148","name":"","topic":"hum","qos":"2","datatype":"auto","broker":"b4f8c089.5701f","x":90,"y":680,"wires":[["24258082.2abf8"]]},{"id":"296b3ccb.d30684","type":"mqtt in","z":"98c0c693.8ee148","name":"","topic":"soil","qos":"2","datatype":"auto","broker":"b4f8c089.5701f","x":90,"y":740,"wires":[["24258082.2abf8"]]},{"id":"ac3b8ca2.73f71","type":"mqtt in","z":"98c0c693.8ee148","name":"","topic":"temp","qos":"2","datatype":"auto","broker":"b4f8c089.5701f","x":90,"y":600,"wires":[["24258082.2abf8"]]},{"id":"84fe9758.856a08","type":"mqtt out","z":"98c0c693.8ee148","name":"","topic":"resultas","qos":"1","retain":"","broker":"b4f8c089.5701f","x":360,"y":620,"wires":[]},{"id":"24258082.2abf8","type":"join","z":"98c0c693.8ee148","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"/","joinerType":"str","accumulate":false,"timeout":"1","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":230,"y":680,"wires":[["84fe9758.856a08","9a3cabcf.c43a58"]]},{"id":"e4f83a0b.328648","type":"inject","z":"98c0c693.8ee148","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":80,"wires":[["7743138a.9093cc"]]},{"id":"7743138a.9093cc","type":"exec","z":"98c0c693.8ee148","command":"python3.6 /home/pi/str2.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"activer_cam","x":310,"y":80,"wires":[[],[],[]]},{"id":"9a46bc6c.0e8d6","type":"exec","z":"98c0c693.8ee148","command":"pkill -f /home/pi/str2.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"desactiver_cam","x":340,"y":160,"wires":[["28fd2c51.74db64"],[],[]]},{"id":"28fd2c51.74db64","type":"exec","z":"98c0c693.8ee148","command":"raspistill -o /home/pi/Pictures/1.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"picture_shot","x":530,"y":160,"wires":[["7743138a.9093cc","526084a9.85c77c"],[],[]]},{"id":"4443d2b0.70ab4c","type":"inject","z":"98c0c693.8ee148","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":100,"y":140,"wires":[["9a46bc6c.0e8d6"]]},{"id":"526084a9.85c77c","type":"exec","z":"98c0c693.8ee148","command":"python3.6 /home/pi/stage_android2/label_image.py --image /home/pi/Pictures/1.jpg --graph /home/pi/stage_android2/retrained_graph.pb --labels /home/pi/stage_android2/retrained_labels.txt --input_layer=Placeholder","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"script_analyse","x":760,"y":160,"wires":[["3ecc9064.56806"],[],[]]},{"id":"3ecc9064.56806","type":"function","z":"98c0c693.8ee148","name":"","func":"var r= msg.payload\n\nif(r[0]==\"y\")\nmsg.payload= \"yellow\"\n\nif(r[0]==\"o\")\nmsg.payload= \"orange\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":870,"y":220,"wires":[["2469eaa1.e5c166","ac11285f.9fbd58"]]},{"id":"9a3cabcf.c43a58","type":"debug","z":"98c0c693.8ee148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":720,"wires":[]},{"id":"2cb8fcb8.54d644","type":"mqtt in","z":"98c0c693.8ee148","name":"","topic":"foo/bar2","qos":"2","datatype":"auto","broker":"b4f8c089.5701f","x":120,"y":360,"wires":[["ab774dcd.ae16b"]]},{"id":"ab774dcd.ae16b","type":"exec","z":"98c0c693.8ee148","command":"python /home/pi/location.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"recuperer_localisation","x":340,"y":360,"wires":[["45217b17.8482f4","85406d27.602e8","12abc3e9.4e45fc"],[],[]]},{"id":"f61a21a8.ea28f","type":"mqtt out","z":"98c0c693.8ee148","name":"","topic":"loc","qos":"1","retain":"","broker":"b4f8c089.5701f","x":990,"y":420,"wires":[]},{"id":"45217b17.8482f4","type":"function","z":"98c0c693.8ee148","name":"extract_city","func":"var r= msg.payload\nvar n =71\nlet rst=\"\"\n\nwhile(r[n]!=\"'\")\n{\nrst= rst+r[n]\nn=n+1\n}\n\nmsg.payload=rst\n\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":460,"wires":[["f60b00fb.12809"]]},{"id":"85406d27.602e8","type":"function","z":"98c0c693.8ee148","name":"extract_latitude","func":"var r= msg.payload\nvar n =18\nlet rst=\"\"\n\nwhile(r[n]!=\"'\")\n{\nrst= rst+r[n]\nn=n+1\n}\n\nmsg.payload=rst\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":380,"wires":[["f60b00fb.12809"]]},{"id":"12abc3e9.4e45fc","type":"function","z":"98c0c693.8ee148","name":"extract_longtitude","func":"var r= msg.payload\nvar n =47\nlet rst=\"\"\n\nwhile(r[n]!=\"'\")\n{\nrst= rst+r[n]\nn=n+1\n}\n\nmsg.payload=rst\n\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["f60b00fb.12809"]]},{"id":"f60b00fb.12809","type":"join","z":"98c0c693.8ee148","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"/","joinerType":"str","accumulate":false,"timeout":"1","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":810,"y":440,"wires":[["f61a21a8.ea28f"]]},{"id":"b4f8c089.5701f","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.77","port":"1883","clientid":"TEST2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]